.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.innerHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.innerHeaderContainer > * {
    flex: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.inputCheckersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card {
    margin-bottom: 2vh;
    margin-top: 2vh;
    width: 60vh;
}

.exportButton {
    width: 70%;
    font-size: 16px;
}