<div class="container">
    <div class="upper-card">
        <mat-card>
            <mat-card-content>
                <div class="innerHeaderContainer">
                    <div class="inputCheckersContainer">
                        <mat-form-field>
                            <input matInput placeholder="Correctos" type="text" (keydown)="OnKeyPress($event)" value="0" [formControl]="correctInputControl"/>
                        </mat-form-field>

                        <mat-form-field>
                            <input matInput placeholder="Incorrectos" type="text" (keydown)="OnKeyPress($event)" value="0" [formControl]="incorrectInputControl"/>
                        </mat-form-field> 
                    </div>
                    <div>
                        <button mat-raised-button color="primary" class="exportButton" (click)="OnExportData($event)">Exportar</button>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>
    </div>

    <div class="down-card">
        <mat-card>
            <mat-card-content>
                <div class="mat-elevation-z8">
                    <mat-table #table [dataSource]="gridData">
                        <!-- Columna Albaran -->
                        <ng-container matColumnDef="albaran">
                          <mat-header-cell *matHeaderCellDef> Albaran </mat-header-cell>
                          <mat-cell *matCellDef="let element">
                                <div (click)="element.EditRow.EditingAlbaran = true;" *ngIf="!element.EditRow.EditingAlbaran">
                                    <div *ngIf="!HasErrorOnProperty(element, 'Albaran') else errorProperty">
                                        <label>{{ element.Albaran }}</label>
                                    </div>
                                    <ng-template #errorProperty>
                                        <div class="error-border">
                                            <label>
                                                <label>{{ splitString(element.Albaran, 10)[0] }}<label class="red-label">{{ splitString(element.Albaran, 10)[1] }}</label></label>
                                            </label>
                                        </div>
                                    </ng-template>
                                </div>
                                <div *ngIf="element.EditRow.EditingAlbaran">
                                    <mat-form-field>
                                        <input  matInput
                                                type="text" 
                                                [(ngModel)]="element.Albaran" 
                                                (change)="element.EditRow.EditingAlbaran = false; OnRowChange(element);" 
                                                (focusout)="element.EditRow.EditingAlbaran = false;"/>
                                    </mat-form-field>
                                </div>
                          </mat-cell>
                        </ng-container>

                        <!-- Columna Destinatario -->
                        <ng-container matColumnDef="destinatario">
                            <mat-header-cell *matHeaderCellDef> Destinatario </mat-header-cell>
                            <mat-cell *matCellDef="let element"> 
                                <div (click)="element.EditRow.EditingDestinatario = true;" *ngIf="!element.EditRow.EditingDestinatario">
                                    <div *ngIf="!HasErrorOnProperty(element, 'Destinatario') else errorProperty">
                                        <label>{{ element.Destinatario }}</label>
                                    </div>
                                    <ng-template #errorProperty>
                                        <div class="error-border">
                                            <label>
                                                <label>{{ splitString(element.Destinatario, 28)[0] }}<label class="red-label">{{ splitString(element.Destinatario, 28)[1] }}</label></label>
                                            </label>
                                        </div>
                                    </ng-template>
                                </div>
                                <div *ngIf="element.EditRow.EditingDestinatario">
                                    <mat-form-field>
                                        <input  matInput 
                                                type="text" 
                                                [(ngModel)]="element.Destinatario" 
                                                (change)="element.EditRow.EditingDestinatario = false; OnRowChange(element);"
                                                (focusout)="element.EditRow.EditingDestinatario = false;"/>
                                    </mat-form-field>
                                </div>
                            </mat-cell>
                          </ng-container>

                          <!-- Columna Dirección -->
                        <ng-container matColumnDef="direccion">
                            <mat-header-cell *matHeaderCellDef> Dirección </mat-header-cell>
                            <mat-cell *matCellDef="let element"> 
                                <div (click)="element.EditRow.EditingDireccion = true;" *ngIf="!element.EditRow.EditingDireccion">
                                    <div *ngIf="!HasErrorOnProperty(element, 'Direccion') else errorProperty">
                                        <label>{{ element.Direccion }}</label>
                                    </div>
                                    <ng-template #errorProperty>
                                        <div class="error-border">
                                            <label>
                                                <label>{{ splitString(element.Direccion, 250)[0] }}<label class="red-label">{{ splitString(element.Direccion, 250)[1] }}</label></label>
                                            </label>
                                        </div>
                                    </ng-template>
                                </div>
                                <div *ngIf="element.EditRow.EditingDireccion">
                                    <mat-form-field>
                                        <input  matInput 
                                                type="text" 
                                                [(ngModel)]="element.Direccion" 
                                                (change)="element.EditRow.EditingDireccion = false; OnRowChange(element);"
                                                (focusout)="element.EditRow.EditingDireccion = false;"/>
                                    </mat-form-field>
                                </div>
                            </mat-cell>
                          </ng-container>

                          <!-- Columna Población -->
                        <ng-container matColumnDef="poblacion">
                            <mat-header-cell *matHeaderCellDef> Población </mat-header-cell>
                            <mat-cell *matCellDef="let element"> 
                                <div (click)="element.EditRow.EditingPoblacion = true;" *ngIf="!element.EditRow.EditingPoblacion">
                                    <div *ngIf="!HasErrorOnProperty(element, 'Poblacion') else errorProperty">
                                        <label>{{ element.Poblacion }}</label>
                                    </div>
                                    <ng-template #errorProperty>
                                        <div class="error-border">
                                            <label>
                                                <label>{{ splitString(element.Poblacion, 10)[0] }}<label class="red-label">{{ splitString(element.Poblacion, 10)[1] }}</label></label>
                                            </label>
                                        </div>
                                    </ng-template>
                                </div>
                                <div *ngIf="element.EditRow.EditingPoblacion">
                                    <mat-form-field>
                                        <input  matInput 
                                                type="text" 
                                                [(ngModel)]="element.Poblacion" 
                                                (change)="element.EditRow.EditingPoblacion = false; OnRowChange(element);"
                                                (focusout)="element.EditRow.EditingPoblacion = false;"/>
                                    </mat-form-field>
                                </div>
                            </mat-cell>
                          </ng-container>

                          <!-- Columna CP -->
                        <ng-container matColumnDef="cp">
                            <mat-header-cell *matHeaderCellDef> CP </mat-header-cell>
                            <mat-cell *matCellDef="let element"> 
                                <div (click)="element.EditRow.EditingCP = true;" *ngIf="!element.EditRow.EditingCP">
                                    <div *ngIf="!HasErrorOnProperty(element, 'CP') else errorProperty">
                                        <label>{{ element.CP }}</label>
                                    </div>
                                    <ng-template #errorProperty>
                                        <div class="error-border">
                                            <label>
                                                <label>{{ splitString(element.CP, 5)[0] }}<label class="red-label">{{ splitString(element.CP, 5)[1] }}</label></label>
                                            </label>
                                        </div>
                                    </ng-template>
                                </div>
                                <div *ngIf="element.EditRow.EditingCP">
                                    <mat-form-field>
                                        <input  matInput 
                                                type="text" 
                                                [(ngModel)]="element.CP" 
                                                (change)="element.EditRow.EditingCP = false; OnRowChange(element);"
                                                (focusout)="element.EditRow.EditingCP = false;"/>
                                    </mat-form-field>
                                </div>
                            </mat-cell>
                          </ng-container>

                          <!-- Columna Provincia -->
                        <ng-container matColumnDef="provincia">
                            <mat-header-cell *matHeaderCellDef> Provincia </mat-header-cell>
                            <mat-cell *matCellDef="let element"> 
                                <div (click)="element.EditRow.EditingProvincia = true;" *ngIf="!element.EditRow.EditingProvincia">
                                    <div *ngIf="!HasErrorOnProperty(element, 'Provincia') else errorProperty">
                                        <label>{{ element.Provincia }}</label>
                                    </div>
                                    <ng-template #errorProperty>
                                        <div class="error-border">
                                            <label>
                                                <label>{{ splitString(element.Provincia, 20)[0] }}<label class="red-label">{{ splitString(element.Provincia, 20)[1] }}</label></label>
                                            </label>
                                        </div>
                                    </ng-template>
                                </div>
                                <div *ngIf="element.EditRow.EditingProvincia">
                                    <mat-form-field>
                                        <input  matInput 
                                                type="text" 
                                                [(ngModel)]="element.Provincia" 
                                                (change)="element.EditRow.EditingProvincia = false; OnRowChange(element);"
                                                (focusout)="element.EditRow.EditingProvincia = false;"/>
                                    </mat-form-field>
                                </div>
                            </mat-cell>
                          </ng-container>

                          <!-- Columna Teléfono -->
                        <ng-container matColumnDef="telefono">
                            <mat-header-cell *matHeaderCellDef> Teléfono </mat-header-cell>
                            <mat-cell *matCellDef="let element"> 
                                <div (click)="element.EditRow.EditingTelefono = true;" *ngIf="!element.EditRow.EditingTelefono">
                                    <div *ngIf="!HasErrorOnProperty(element, 'Telefono') else errorProperty">
                                        <label>{{ element.Telefono }}</label>
                                    </div>
                                    <ng-template #errorProperty>
                                        <div class="error-border">
                                            <label>
                                                <label>{{ splitString(element.Telefono, 10)[0] }}<label class="red-label">{{ splitString(element.Telfono, 10)[1] }}</label></label>
                                            </label>
                                        </div>
                                    </ng-template>
                                </div>
                                <div *ngIf="element.EditRow.EditingTelefono">
                                    <mat-form-field>
                                        <input  matInput 
                                                type="text" 
                                                [(ngModel)]="element.Telefono" 
                                                (change)="element.EditRow.EditingTelefono = false; OnRowChange(element);"
                                                (focusout)="element.EditRow.EditingTelefono = false;"/>
                                    </mat-form-field>
                                </div>
                            </mat-cell>
                          </ng-container>

                          <!-- Columna Observaciones -->
                        <ng-container matColumnDef="observaciones">
                            <mat-header-cell *matHeaderCellDef> Observaciones </mat-header-cell>
                            <mat-cell *matCellDef="let element"> 
                                <div (click)="element.EditRow.EditingObservaciones = true;" *ngIf="!element.EditRow.EditingObservaciones">
                                    <div *ngIf="!HasErrorOnProperty(element, 'Observaciones') else errorProperty">
                                        <label>{{ element.Observaciones }}</label>
                                    </div>
                                    <ng-template #errorProperty>
                                        <div class="error-border">
                                            <label>
                                                <label>{{ splitString(element.Observaciones, 500)[0] }}<label class="red-label">{{ splitString(element.Observaciones, 500)[1] }}</label></label>
                                            </label>
                                        </div>
                                    </ng-template>
                                </div>
                                <div *ngIf="element.EditRow.EditingObservaciones">
                                    <mat-form-field>
                                        <input  matInput 
                                                type="text" 
                                                [(ngModel)]="element.Observaciones" 
                                                (change)="element.EditRow.EditingObservaciones = false; OnRowChange(element);"
                                                (focusout)="element.EditRow.EditingObservaciones = false;"/>
                                    </mat-form-field>
                                </div>
                            </mat-cell>
                          </ng-container>

                          <!-- Columna Fecha -->
                        <ng-container matColumnDef="fecha">
                            <mat-header-cell *matHeaderCellDef> Fecha </mat-header-cell>
                            <mat-cell *matCellDef="let element"> 
                                <div (click)="element.EditRow.EditingFecha = true;" *ngIf="!element.EditRow.EditingFecha">
                                    <div *ngIf="!HasErrorOnProperty(element, 'Fecha') else errorProperty">
                                        <label>{{ element.Fecha }}</label>
                                    </div>
                                    <ng-template #errorProperty>
                                        <div class="error-border">
                                            <label>
                                                <label class="red-label">{{ element.Fecha }}</label>
                                            </label>
                                        </div>
                                    </ng-template>
                                </div>
                                <div *ngIf="element.EditRow.EditingFecha">
                                    <mat-form-field>
                                        <input  matInput 
                                                type="text" 
                                                [(ngModel)]="element.Fecha" 
                                                (change)="element.EditRow.EditingFecha = false; OnRowChange(element);"
                                                (focusout)="element.EditRow.EditingFecha = false;"/>
                                    </mat-form-field>
                                </div>
                            </mat-cell>
                          </ng-container>
                    
                        <mat-header-row *matHeaderRowDef="tableColumnsNames"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: tableColumnsNames;"></mat-row>
                      </mat-table>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
</div>