.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.innerHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.innerHeaderContainer > * {
    flex: 1; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    flex-direction: column;
}

.inputCheckersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.upper-card {
    margin-bottom: 2vh;
    margin-top: 2vh;
    width: 70vh;
}

.down-card {
    margin-bottom: 2vh;
    margin-top: 2vh;
    width: 90%;
}

.exportButton {
    width: 70%;
    font-size: 16px;
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.error-border {
    border: 2px solid #A40505;
    border-radius: 4px;
}

.cell-padding {
    padding: 1vh;
}

.cell-padding > label {
    white-space: nowrap;
}

.red-label {
    color: #A40505;
}

mat-cell, mat-header-cell {
    margin-left: 15px;
    margin-right: 15px;
}

.top-progress-bar {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}