<div class="container">
    <mat-card class="inputCard">
        <mat-card-content>
            <mat-toolbar color="primary">
                <mat-toolbar-row>
                    <span>Carga de Fichero Excel</span>
                </mat-toolbar-row>
            </mat-toolbar>
            <form [formGroup]="uploadFileForm">
                <div class="full-width inner-container">
                    <mat-form-field style="flex: 4;" class="full-width">
                        <input matInput placeholder="Enlace del Fichero" type="text" formControlName="inputFilePath" (keydown)="OnKeyPress($event)"/>
                    </mat-form-field>
                    <input id="inputFile" type="file" class="hide" (change)="OnFileSelected($event.target.files)" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"/>
                    <button id="pickFileButton" style="flex: 1; margin-left: 2%;" class="full-width" mat-raised-button (click)="OnSelectFile($event)">Fichero</button>
                </div>
                <mat-form-field class="full-width">
                    <input matInput placeholder="Fila de comienzo" type="number" formControlName="starterRow"/>
                </mat-form-field>
                <button mat-raised-button color="primary" class="full-width" (click)="OnUploadFile($event)" [disabled]="processingRequest">Procesar Fichero</button>
            </form>
        </mat-card-content>
      </mat-card>

      <mat-spinner diameter="65" *ngIf="processingRequest"></mat-spinner>
</div>