<div class="container">
    <mat-card class="inputCard">
        <mat-card-content>
            <mat-toolbar color="primary">
                <mat-toolbar-row>
                    <span>Carga de Fichero Excel</span>
                </mat-toolbar-row>
            </mat-toolbar>
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
            <button mat-raised-button color="primary" class="footerButton">Cargar Fichero</button>
        </mat-card-content>
      </mat-card>
</div>