.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

.inputCard {
    width: 50vh;
}

.footerButton {
    width: 100%;
}